<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.giot.platform.dao.ApplicationAnalysisMapper">
  <resultMap id="BaseResultMap" type="com.giot.platform.pojo.ApplicationAnalysis">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="applicationId" jdbcType="INTEGER" property="applicationid" />
    <result column="application_name" jdbcType="VARCHAR" property="applicationName" />
    <result column="dsId" jdbcType="INTEGER" property="dsid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="createTime" jdbcType="DATE" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, applicationId, application_name, dsId, `name`, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from application_analysis
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from application_analysis
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.giot.platform.pojo.ApplicationAnalysis">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into application_analysis (applicationId, application_name, dsId, 
      `name`, createTime)
    values (#{applicationid,jdbcType=INTEGER}, #{applicationName,jdbcType=VARCHAR}, #{dsid,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{createtime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.giot.platform.pojo.ApplicationAnalysis">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into application_analysis
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applicationid != null">
        applicationId,
      </if>
      <if test="applicationName != null">
        application_name,
      </if>
      <if test="dsid != null">
        dsId,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applicationid != null">
        #{applicationid,jdbcType=INTEGER},
      </if>
      <if test="applicationName != null">
        #{applicationName,jdbcType=VARCHAR},
      </if>
      <if test="dsid != null">
        #{dsid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.giot.platform.pojo.ApplicationAnalysis">
    update application_analysis
    <set>
      <if test="applicationid != null">
        applicationId = #{applicationid,jdbcType=INTEGER},
      </if>
      <if test="applicationName != null">
        application_name = #{applicationName,jdbcType=VARCHAR},
      </if>
      <if test="dsid != null">
        dsId = #{dsid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.giot.platform.pojo.ApplicationAnalysis">
    update application_analysis
    set applicationId = #{applicationid,jdbcType=INTEGER},
      application_name = #{applicationName,jdbcType=VARCHAR},
      dsId = #{dsid,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>