<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.giot.platform.dao.ApplicationMapper">
  <resultMap id="BaseResultMap" type="com.giot.platform.pojo.Application">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="logoUrl" jdbcType="VARCHAR" property="logourl" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="createTime" jdbcType="VARCHAR" property="createtime" />
    <result column="productId" jdbcType="INTEGER" property="productid" />
    <result column="applicationType" jdbcType="INTEGER" property="applicationtype" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, logoUrl, description, createTime, productId, applicationType
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from application
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from application
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.giot.platform.pojo.Application">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into application (`name`, logoUrl, description, 
      createTime, productId, applicationType
      )
    values (#{name,jdbcType=VARCHAR}, #{logourl,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=VARCHAR}, #{productid,jdbcType=INTEGER}, #{applicationtype,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.giot.platform.pojo.Application">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into application
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="logourl != null">
        logoUrl,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="productid != null">
        productId,
      </if>
      <if test="applicationtype != null">
        applicationType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="logourl != null">
        #{logourl,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="applicationtype != null">
        #{applicationtype,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.giot.platform.pojo.Application">
    update application
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="logourl != null">
        logoUrl = #{logourl,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        productId = #{productid,jdbcType=INTEGER},
      </if>
      <if test="applicationtype != null">
        applicationType = #{applicationtype,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.giot.platform.pojo.Application">
    update application
    set `name` = #{name,jdbcType=VARCHAR},
      logoUrl = #{logourl,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=VARCHAR},
      productId = #{productid,jdbcType=INTEGER},
      applicationType = #{applicationtype,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>