<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.giot.platform.dao.ApplicationChartMapper">
  <resultMap id="BaseResultMap" type="com.giot.platform.pojo.ApplicationChart">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="applicationId" jdbcType="INTEGER" property="applicationid" />
    <result column="application_name" jdbcType="VARCHAR" property="applicationName" />
    <result column="chartId" jdbcType="INTEGER" property="chartid" />
    <result column="dsId" jdbcType="INTEGER" property="dsid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="createTime" jdbcType="DATE" property="createtime" />
    <result column="logoUrl" jdbcType="VARCHAR" property="logourl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, applicationId, application_name, chartId, dsId, `name`, createTime, logoUrl
  </sql>
  <select id="selectByExample" parameterType="com.giot.platform.pojo.ApplicationChartExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from application_chart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from application_chart
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from application_chart
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.giot.platform.pojo.ApplicationChartExample">
    delete from application_chart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.giot.platform.pojo.ApplicationChart">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into application_chart (applicationId, application_name, chartId, 
      dsId, `name`, createTime, 
      logoUrl)
    values (#{applicationid,jdbcType=INTEGER}, #{applicationName,jdbcType=VARCHAR}, #{chartid,jdbcType=INTEGER}, 
      #{dsid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{createtime,jdbcType=DATE}, 
      #{logourl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.giot.platform.pojo.ApplicationChart">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into application_chart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applicationid != null">
        applicationId,
      </if>
      <if test="applicationName != null">
        application_name,
      </if>
      <if test="chartid != null">
        chartId,
      </if>
      <if test="dsid != null">
        dsId,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="logourl != null">
        logoUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applicationid != null">
        #{applicationid,jdbcType=INTEGER},
      </if>
      <if test="applicationName != null">
        #{applicationName,jdbcType=VARCHAR},
      </if>
      <if test="chartid != null">
        #{chartid,jdbcType=INTEGER},
      </if>
      <if test="dsid != null">
        #{dsid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=DATE},
      </if>
      <if test="logourl != null">
        #{logourl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.giot.platform.pojo.ApplicationChartExample" resultType="java.lang.Long">
    select count(*) from application_chart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update application_chart
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.applicationid != null">
        applicationId = #{record.applicationid,jdbcType=INTEGER},
      </if>
      <if test="record.applicationName != null">
        application_name = #{record.applicationName,jdbcType=VARCHAR},
      </if>
      <if test="record.chartid != null">
        chartId = #{record.chartid,jdbcType=INTEGER},
      </if>
      <if test="record.dsid != null">
        dsId = #{record.dsid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=DATE},
      </if>
      <if test="record.logourl != null">
        logoUrl = #{record.logourl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update application_chart
    set id = #{record.id,jdbcType=INTEGER},
      applicationId = #{record.applicationid,jdbcType=INTEGER},
      application_name = #{record.applicationName,jdbcType=VARCHAR},
      chartId = #{record.chartid,jdbcType=INTEGER},
      dsId = #{record.dsid,jdbcType=INTEGER},
      `name` = #{record.name,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=DATE},
      logoUrl = #{record.logourl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.giot.platform.pojo.ApplicationChart">
    update application_chart
    <set>
      <if test="applicationid != null">
        applicationId = #{applicationid,jdbcType=INTEGER},
      </if>
      <if test="applicationName != null">
        application_name = #{applicationName,jdbcType=VARCHAR},
      </if>
      <if test="chartid != null">
        chartId = #{chartid,jdbcType=INTEGER},
      </if>
      <if test="dsid != null">
        dsId = #{dsid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=DATE},
      </if>
      <if test="logourl != null">
        logoUrl = #{logourl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.giot.platform.pojo.ApplicationChart">
    update application_chart
    set applicationId = #{applicationid,jdbcType=INTEGER},
      application_name = #{applicationName,jdbcType=VARCHAR},
      chartId = #{chartid,jdbcType=INTEGER},
      dsId = #{dsid,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=DATE},
      logoUrl = #{logourl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>