<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.giot.platform.dao.CmdlogsMapper">
  <resultMap id="BaseResultMap" type="com.giot.platform.pojo.Cmdlogs">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="deviceId" jdbcType="INTEGER" property="deviceid" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="sendTime" jdbcType="DATE" property="sendtime" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="productId" jdbcType="INTEGER" property="productid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, deviceId, msg, sendTime, userId, productId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cmdlogs
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cmdlogs
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.giot.platform.pojo.Cmdlogs">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cmdlogs (deviceId, msg, sendTime, 
      userId, productId)
    values (#{deviceid,jdbcType=INTEGER}, #{msg,jdbcType=VARCHAR}, #{sendtime,jdbcType=DATE}, 
      #{userid,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.giot.platform.pojo.Cmdlogs">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cmdlogs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deviceid != null">
        deviceId,
      </if>
      <if test="msg != null">
        msg,
      </if>
      <if test="sendtime != null">
        sendTime,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="productid != null">
        productId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deviceid != null">
        #{deviceid,jdbcType=INTEGER},
      </if>
      <if test="msg != null">
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null">
        #{sendtime,jdbcType=DATE},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.giot.platform.pojo.Cmdlogs">
    update cmdlogs
    <set>
      <if test="deviceid != null">
        deviceId = #{deviceid,jdbcType=INTEGER},
      </if>
      <if test="msg != null">
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null">
        sendTime = #{sendtime,jdbcType=DATE},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="productid != null">
        productId = #{productid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.giot.platform.pojo.Cmdlogs">
    update cmdlogs
    set deviceId = #{deviceid,jdbcType=INTEGER},
      msg = #{msg,jdbcType=VARCHAR},
      sendTime = #{sendtime,jdbcType=DATE},
      userId = #{userid,jdbcType=INTEGER},
      productId = #{productid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>