<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.giot.platform.dao.DatastreamMapper">
  <resultMap id="BaseResultMap" type="com.giot.platform.pojo.Datastream">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="productId" jdbcType="INTEGER" property="productid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="deviceId" jdbcType="INTEGER" property="deviceid" />
    <result column="createTime" jdbcType="DATE" property="createtime" />
    <result column="unitTypeId" jdbcType="INTEGER" property="unittypeid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, productId, `name`, deviceId, createTime, unitTypeId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from datastream
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from datastream
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.giot.platform.pojo.Datastream">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into datastream (productId, `name`, deviceId, 
      createTime, unitTypeId)
    values (#{productid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{deviceid,jdbcType=INTEGER}, 
      #{createtime,jdbcType=DATE}, #{unittypeid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.giot.platform.pojo.Datastream">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into datastream
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productid != null">
        productId,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="deviceid != null">
        deviceId,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="unittypeid != null">
        unitTypeId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="deviceid != null">
        #{deviceid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=DATE},
      </if>
      <if test="unittypeid != null">
        #{unittypeid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.giot.platform.pojo.Datastream">
    update datastream
    <set>
      <if test="productid != null">
        productId = #{productid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="deviceid != null">
        deviceId = #{deviceid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=DATE},
      </if>
      <if test="unittypeid != null">
        unitTypeId = #{unittypeid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.giot.platform.pojo.Datastream">
    update datastream
    set productId = #{productid,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      deviceId = #{deviceid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=DATE},
      unitTypeId = #{unittypeid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>