<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.giot.platform.dao.DsTriggerMapper">
  <resultMap id="BaseResultMap" type="com.giot.platform.pojo.DsTrigger">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dsId" jdbcType="INTEGER" property="dsid" />
    <result column="triggerId" jdbcType="INTEGER" property="triggerid" />
    <result column="ds_name" jdbcType="VARCHAR" property="dsName" />
    <result column="mode" jdbcType="INTEGER" property="mode" />
    <result column="modeMsg" jdbcType="VARCHAR" property="modemsg" />
    <result column="productId" jdbcType="INTEGER" property="productid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dsId, triggerId, ds_name, `mode`, modeMsg, productId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ds_trigger
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ds_trigger
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.giot.platform.pojo.DsTrigger">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ds_trigger (dsId, triggerId, ds_name, 
      `mode`, modeMsg, productId
      )
    values (#{dsid,jdbcType=INTEGER}, #{triggerid,jdbcType=INTEGER}, #{dsName,jdbcType=VARCHAR}, 
      #{mode,jdbcType=INTEGER}, #{modemsg,jdbcType=VARCHAR}, #{productid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.giot.platform.pojo.DsTrigger">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ds_trigger
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dsid != null">
        dsId,
      </if>
      <if test="triggerid != null">
        triggerId,
      </if>
      <if test="dsName != null">
        ds_name,
      </if>
      <if test="mode != null">
        `mode`,
      </if>
      <if test="modemsg != null">
        modeMsg,
      </if>
      <if test="productid != null">
        productId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dsid != null">
        #{dsid,jdbcType=INTEGER},
      </if>
      <if test="triggerid != null">
        #{triggerid,jdbcType=INTEGER},
      </if>
      <if test="dsName != null">
        #{dsName,jdbcType=VARCHAR},
      </if>
      <if test="mode != null">
        #{mode,jdbcType=INTEGER},
      </if>
      <if test="modemsg != null">
        #{modemsg,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.giot.platform.pojo.DsTrigger">
    update ds_trigger
    <set>
      <if test="dsid != null">
        dsId = #{dsid,jdbcType=INTEGER},
      </if>
      <if test="triggerid != null">
        triggerId = #{triggerid,jdbcType=INTEGER},
      </if>
      <if test="dsName != null">
        ds_name = #{dsName,jdbcType=VARCHAR},
      </if>
      <if test="mode != null">
        `mode` = #{mode,jdbcType=INTEGER},
      </if>
      <if test="modemsg != null">
        modeMsg = #{modemsg,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        productId = #{productid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.giot.platform.pojo.DsTrigger">
    update ds_trigger
    set dsId = #{dsid,jdbcType=INTEGER},
      triggerId = #{triggerid,jdbcType=INTEGER},
      ds_name = #{dsName,jdbcType=VARCHAR},
      `mode` = #{mode,jdbcType=INTEGER},
      modeMsg = #{modemsg,jdbcType=VARCHAR},
      productId = #{productid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>