<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.giot.platform.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.giot.platform.pojo.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="protocol_id" jdbcType="INTEGER" property="protocolId" />
    <result column="product_type_id" jdbcType="INTEGER" property="productTypeId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="latitude" jdbcType="REAL" property="latitude" />
    <result column="lontitude" jdbcType="REAL" property="lontitude" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, protocol_id, product_type_id, description, user_id, create_time, latitude, 
    lontitude
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.giot.platform.pojo.Product">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into product (`name`, protocol_id, product_type_id, 
      description, user_id, create_time, 
      latitude, lontitude)
    values (#{name,jdbcType=VARCHAR}, #{protocolId,jdbcType=INTEGER}, #{productTypeId,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{createTime,jdbcType=DATE}, 
      #{latitude,jdbcType=REAL}, #{lontitude,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.giot.platform.pojo.Product">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="protocolId != null">
        protocol_id,
      </if>
      <if test="productTypeId != null">
        product_type_id,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="lontitude != null">
        lontitude,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="protocolId != null">
        #{protocolId,jdbcType=INTEGER},
      </if>
      <if test="productTypeId != null">
        #{productTypeId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=REAL},
      </if>
      <if test="lontitude != null">
        #{lontitude,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.giot.platform.pojo.Product">
    update product
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="protocolId != null">
        protocol_id = #{protocolId,jdbcType=INTEGER},
      </if>
      <if test="productTypeId != null">
        product_type_id = #{productTypeId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=REAL},
      </if>
      <if test="lontitude != null">
        lontitude = #{lontitude,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.giot.platform.pojo.Product">
    update product
    set `name` = #{name,jdbcType=VARCHAR},
      protocol_id = #{protocolId,jdbcType=INTEGER},
      product_type_id = #{productTypeId,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=DATE},
      latitude = #{latitude,jdbcType=REAL},
      lontitude = #{lontitude,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>