<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.giot.platform.dao.TriggerMapper">
  <resultMap id="BaseResultMap" type="com.giot.platform.pojo.Trigger">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="productId" jdbcType="INTEGER" property="productid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="createTime" jdbcType="DATE" property="createtime" />
    <result column="modifyTime" jdbcType="DATE" property="modifytime" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="mode" jdbcType="INTEGER" property="mode" />
    <result column="modeMsg" jdbcType="VARCHAR" property="modemsg" />
  </resultMap>
  <sql id="Base_Column_List">
    id, productId, `name`, `type`, createTime, modifyTime, `value`, `mode`, modeMsg
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from trigger
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from trigger
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.giot.platform.pojo.Trigger">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into trigger (productId, `name`, `type`, 
      createTime, modifyTime, `value`, 
      `mode`, modeMsg)
    values (#{productid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{createtime,jdbcType=DATE}, #{modifytime,jdbcType=DATE}, #{value,jdbcType=VARCHAR}, 
      #{mode,jdbcType=INTEGER}, #{modemsg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.giot.platform.pojo.Trigger">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into trigger
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productid != null">
        productId,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="modifytime != null">
        modifyTime,
      </if>
      <if test="value != null">
        `value`,
      </if>
      <if test="mode != null">
        `mode`,
      </if>
      <if test="modemsg != null">
        modeMsg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=DATE},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=DATE},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="mode != null">
        #{mode,jdbcType=INTEGER},
      </if>
      <if test="modemsg != null">
        #{modemsg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.giot.platform.pojo.Trigger">
    update trigger
    <set>
      <if test="productid != null">
        productId = #{productid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=DATE},
      </if>
      <if test="modifytime != null">
        modifyTime = #{modifytime,jdbcType=DATE},
      </if>
      <if test="value != null">
        `value` = #{value,jdbcType=VARCHAR},
      </if>
      <if test="mode != null">
        `mode` = #{mode,jdbcType=INTEGER},
      </if>
      <if test="modemsg != null">
        modeMsg = #{modemsg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.giot.platform.pojo.Trigger">
    update trigger
    set productId = #{productid,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=DATE},
      modifyTime = #{modifytime,jdbcType=DATE},
      `value` = #{value,jdbcType=VARCHAR},
      `mode` = #{mode,jdbcType=INTEGER},
      modeMsg = #{modemsg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>