<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.giot.platform.dao.TriggerMapper">
  <resultMap id="BaseResultMap" type="com.giot.platform.pojo.Trigger">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="trigger_type_id" jdbcType="INTEGER" property="triggerTypeId" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="modify_time" jdbcType="DATE" property="modifyTime" />
    <result column="threshold" jdbcType="VARCHAR" property="threshold" />
    <result column="mode" jdbcType="INTEGER" property="mode" />
    <result column="mode_msg" jdbcType="VARCHAR" property="modeMsg" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, `name`, trigger_type_id, create_time, modify_time, threshold, `mode`, 
    mode_msg
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from trigger
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from trigger
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.giot.platform.pojo.Trigger">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into trigger (product_id, `name`, trigger_type_id, 
      create_time, modify_time, threshold, 
      `mode`, mode_msg)
    values (#{productId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{triggerTypeId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=DATE}, #{modifyTime,jdbcType=DATE}, #{threshold,jdbcType=VARCHAR}, 
      #{mode,jdbcType=INTEGER}, #{modeMsg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.giot.platform.pojo.Trigger">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into trigger
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="triggerTypeId != null">
        trigger_type_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="threshold != null">
        threshold,
      </if>
      <if test="mode != null">
        `mode`,
      </if>
      <if test="modeMsg != null">
        mode_msg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="triggerTypeId != null">
        #{triggerTypeId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=DATE},
      </if>
      <if test="threshold != null">
        #{threshold,jdbcType=VARCHAR},
      </if>
      <if test="mode != null">
        #{mode,jdbcType=INTEGER},
      </if>
      <if test="modeMsg != null">
        #{modeMsg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.giot.platform.pojo.Trigger">
    update trigger
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="triggerTypeId != null">
        trigger_type_id = #{triggerTypeId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=DATE},
      </if>
      <if test="threshold != null">
        threshold = #{threshold,jdbcType=VARCHAR},
      </if>
      <if test="mode != null">
        `mode` = #{mode,jdbcType=INTEGER},
      </if>
      <if test="modeMsg != null">
        mode_msg = #{modeMsg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.giot.platform.pojo.Trigger">
    update trigger
    set product_id = #{productId,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      trigger_type_id = #{triggerTypeId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=DATE},
      modify_time = #{modifyTime,jdbcType=DATE},
      threshold = #{threshold,jdbcType=VARCHAR},
      `mode` = #{mode,jdbcType=INTEGER},
      mode_msg = #{modeMsg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>