html,body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, i, b, textarea, button, input, select  {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    /* font-size: 14px; */
    /* color: #333333; */
    font-weight: lighter;
    font-family: 'Microsoft YaHei';
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
  }
  html,body,#app{
    height: 100%;
    width: 100%;
    background-color: #F2F7F8;
  }
  .fullHeight{
    height: 100%;
  }
  .fullWidth{
    width: 100%;
  }
  .fullImg{
    width: 100%;
    height: 100%;
  }
  .bgWhite{
    background-color: #fff;
  }
  .center{
    text-align: center;
  }
  .cl-flex{
    display: flex;
  }
  .alignCenter{
    align-items: center;
  }
  .justifyBet{
    justify-content: space-between;
  }
  .alignEnd{
    align-items: end;
  }
  .justifyCenter{
    justify-content: center;
  }
  .directColumn{
    flex-direction: column;
  }
  .fontImpact{
    font-family: impact;
    letter-spacing: 2px;
  }
  .color000{
    color: #000;
  }
  .colorWhite{
    color: #fff;
  }
  .colorGray{
    color: #999999;
  }
  .colorGray2{
    color: #BACBDB;
  }
  .colorBlue{
    color:#3bbaf0
  }
  .colorBlack{
    color: #333333;
  }
  .font-12{
    font-size: 0.75rem;
  }
  .font-14{
    font-size: 0.875rem;
  }
  .font-16{
    font-size: 1rem;
  }
  .font-18{
    font-size: 1.125rem;
  }
  .font-20{
    font-size: 1.43rem;
  }
  .font-24{
    font-size: 1.5rem;
  }
  .font-28{
    font-size: 1.75rem;
  }
  .font-30{
    font-size: 2.14rem;
  }
  .font-36{
    font-size: 2.25rem;
  }
  .font-40{
    font-size: 2.5rem;
  }
  .font-48{
    font-size: 3rem;
  }
  .font-bold{
    font-weight: bold;
  }
  .mgTop-20{
    margin-top: 1.25rem;
  }
  .mgTop-70{
    margin-top: 4.375rem;
  }
  .mgbot-5{
    margin-bottom: 0.312rem;
  }
  .mgbot-10{
    margin-bottom: 0.625rem;
  }
  .mgbot-15{
    margin-bottom: 0.9375rem;
  }
  .mgbot-20{
    margin-bottom: 1.43rem;
  }
  .mgbot-30{
    margin-bottom: 2.14rem;
  }
  .mgR-15{
    margin-right: 0.937rem;
  }
  .mgR-20{
    margin-right: 1.43rem;
  }
  .asideIcon{
    width: 1rem;
    height: 1rem;
    margin-right: 0.312rem;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    background-position-x: center;
  }
 
  .devov{
    background-image: url("../assets/devova.svg");
  }
  .scene{
    background-image: url("../assets/scenea.svg");
  }
  .devList{
    background-image: url("../assets/devLista.svg");
  }
  .log{
    background-image: url("../assets/loga.svg");
  }
  // .el-menu-item.is-active .devov{
  //   background-image: url("../assets/devova.svg");
  // }
  // .el-menu-item.is-active .scene{
  //   background-image: url("../assets/scenea.svg");
  // }
  // .el-menu-item.is-active .devList{
  //   background-image: url("../assets/devLista.svg");
  // }
  // .el-menu-item.is-active .log{
  //   background-image: url("../assets/loga.svg");
  // }
  .el-dropdown-link {
    cursor: pointer;
  }
  .el-header .el-input--suffix .el-input__inner{
    border: 1px solid #3BBAF0;
    background-color: #00253B;
    height: 1.875rem;
    line-height: 1.875rem;
  }
  .el-header .el-input--suffix .el-input__icon{
    color: #3BBAF0;
    line-height: 1.875rem;
  }
  .el-button--primary {
    color: #FFF;
    background-color: #409EFF;
    border-color: #409EFF;
  }
  .el-date-editor .el-range-separator{
    padding: 0
  }
  .el-card__body {
    padding: 1.25rem 2.5rem;
  }
  .cl-main{
    padding: 1.56rem 3.75rem;
  }
  .cl-aside{
    background: -webkit-linear-gradient(#03488B, #0A335B); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#03488B, #0A335B); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#03488B, #0A335B); /* Firefox 3.6 - 15 */
    background: linear-gradient(#03488B, #0A335B); /* 标准的语法 */
  }
  .cl-aside .el-menu-item {
    cursor: pointer;
    padding: 0 3.125rem !important;
  }
  .cl-aside .el-submenu .el-menu-item{
    padding-left:4.56rem !important;
  }
  .cl-aside .el-submenu .el-submenu__title{
    padding-left: 3.125rem !important;
  }
  .cl-aside .el-menu-item.is-active {
      background-color: #F2F7F8 !important;
  }
  .cl-aside .el-menu-item:focus,.cl-aside .el-menu-item:hover ,.cl-aside .el-submenu__title:focus,.cl-aside .el-submenu__title:hover{
    outline: 0;
    background-color: #F2F7F8 !important;
    color: #0565B9 !important;
  }
  @media screen and (min-width:750px) and (max-width:1100px){
    body{font-size: 10px}
  }
  
  @media screen and ( min-width: 1100px ) and ( max-width: 1280px ) {
    body{font-size: 12px;}
  }
  
  @media screen and ( min-width: 1366px ) {
    body{font-size: 14px;}
  }
  
  @media screen and ( min-width: 1440px ) {
    body{font-size: 14px;}
  }
  
  @media screen and ( min-width: 1680px ) {
    body{font-size: 14px;}
  }
  @media screen and (min-width:1920px) {
    body{font-size: 16px;}
  }
  /* breadcrumb transition */
  .breadcrumb-enter-active,
  .breadcrumb-leave-active {
    transition: all .5s;
  }

  .breadcrumb-enter,
  .breadcrumb-leave-active {
    opacity: 0;
    transform: translateX(20px);
  }

  .breadcrumb-move {
    transition: all .5s;
  }

  .breadcrumb-leave-active {
    position: absolute;
  }